/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/appsettings.Development.json
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/appsettings.json
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.deps.json
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.dll
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.exe
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.pdb
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.runtimeconfig.json
/TestWhatsEat/TestWhatsEat/bin/Debug/net6.0/TestWhatsEat.staticwebassets.runtime.json
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/apphost.exe
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/project.razor.vs.json
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/ref/TestWhatsEat.dll
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/refint/TestWhatsEat.dll
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/scopedcss/bundle/TestWhatsEat.styles.css
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/scopedcss/projectbundle/TestWhatsEat.bundle.scp.css
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/staticwebassets.build.json
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/staticwebassets.development.json
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.AssemblyInfo.cs
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.AssemblyInfoInputs.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.assets.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.csproj.AssemblyReference.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.csproj.BuildWithSkipAnalyzers
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.csproj.CoreCompileInputs.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.csproj.FileListAbsolute.txt
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.dll
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.GeneratedMSBuildEditorConfig.editorconfig
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.genruntimeconfig.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.GlobalUsings.g.cs
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.MvcApplicationPartsAssemblyInfo.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.pdb
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.RazorAssemblyInfo.cache
/TestWhatsEat/TestWhatsEat/obj/Debug/net6.0/TestWhatsEat.RazorAssemblyInfo.cs
